---
---

@import "{{ site.theme }}";

#post-nav {
    width: 100%;
    margin-top: 2em;

    ul {
        margin-bottom: 0;
        padding-left: 0;
    }

    li {
        list-style-type: none;
    }
}
